openapi: 3.0.0

info:
  version: '1.0'
  title: PlanWiser Web API
  description: Web Resources Specification (A7) for PlanWiser

servers:
- url: "http://lbaw2181.lbaw.fe.up.pt/"
  description: "Production server"

externalDocs:
  description: "Find more info here."
  url: "https://git.fe.up.pt/lbaw/lbaw2122/lbaw2181/-/wikis/home"

tags:
  - name: 'M01: Authentication and Individual Profile'
  - name: 'M02: Projects'
  - name: 'M03: Social Media'
  - name: 'M04: Static pages'
  - name: 'M05: User Administration'

paths:
  /login:
    get:
      operationId: R101
      summary: 'R101: Sign In Form'
      description: 'Provide sign in form. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok'
        '302':
          description: 'Redirect if user is logged in.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Authenticated. Redirect to user projects page.'
                  value: '/home'

    post:
      operationId: R102
      summary: 'R102: Login Action'
      description: 'Processes the login form submission. Access: PUB'
      tags:
        - 'M01: Authentication and Individual Profile'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password

      responses:
        '302':
          description: 'Redirect after processing the sign in credentials.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user projects page.'
                  value: '/home'
                302Error:
                  description: 'Failed authentication. Redirect to sign in form.'
                  value: '/login'
  /logout:
    post:
      operationId: R103
      summary: 'R103: Logout Action'
      description: 'Logout the current authenticated used. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '302':
          description: 'Redirect after processing logout.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful logout. Redirect to home page.'
                  value: '/home'
  /register:
    get:
      operationId: R104
      summary: 'R104: Sign Up Form'
      description: 'Provide new user sign up form. Access: VTR'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok'
        '302':
          description: 'Redirect if user is logged in.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Authenticated. Redirect to user projects page.'
                  value: '/home'
    post:
      operationId: R105
      summary: 'R105: Sign Up Action'
      description: 'Processes the new user sign up form submission. Access: VTR'
      tags:
        - 'M01: Authentication and Individual Profile'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                fullname:
                  type: string
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
              required:
                - fullname
                - username
                - email
                - password
      responses:
        '302':
          description: 'Redirect after processing the new user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful authentication. Redirect to user profile.'
                  value: '/home'
                302Failure:
                  description: 'Failed authentication. Redirect to sign in form.'
                  value: '/register'

  /profile/{id}:
    get:
      operationId: R106
      summary: 'R106: View User Profile'
      description: 'Show the individual user profile. Access: USR'
      tags:
        - 'M01: Authentication and Individual Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: 'Ok.'
        '404':
          description: 'Not Found.'

  /profile/{id}/update:
    post:
      operationId: R107
      summary: 'R107: Edit and delete Profile'
      description: 'Edit account information and delete account. Access: AOR'
      tags:
        - 'M01: Authentication and Individual Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                username:
                  type: string
                fullname:
                  type: string
                img_url:
                  type: string
      responses:
        '200':
          description: 'Ok'
        "401":
          description: 'Permission denied'

  /project/{id}/update-password:
    post:
      operationId: R108
      summary: 'R108: Edit Profile password'
      description: 'Edit account password. Access: AOR'
      tags:
        - 'M01: Authentication and Individual Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                password:
                  type: string
      responses:
        '200':
          description: 'Ok'
        "401":
          description: 'Permission denied'

  /recoveryPassword:
    get:
      operationId: R109
      summary: 'R109: Recovery Password'
      description: 'Recovery Password. Access: VTR'
      tags:
        - 'M01: Authentication and Individual Profile'
      responses:
        '200':
          description: 'Ok'

  /api/projectsSearch:
    post:
      operationId: R201
      summary: 'R201: Search Project'
      description: 'Search for projects. Access: AUR'
      tags:
        - 'M02: Projects'

      parameters:
        - in: query
          name: search
          description: String to use for full-text search
          schema:
            type: string
          required: false

      requestBody:
        required: true
        content:
            schema:
              type: string
              properties:
                search:
                  type: string
              required:
              - search
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
        '400':
          description: Bad Request

  /api/myProjectsSearch:
    post:
      operationId: R202
      summary: 'R202: Search my projects'
      description: 'Search for projects that person is in. Access: AUR'
      tags:
        - 'M02: Projects'
      parameters:
        - in: query
          name: search
          description: String to use for full-text search
          schema:
            type: string
          required: false

      requestBody:
        required: true
        content:
            schema:
              type: string
              properties:
                search:
                  type: string
              required:
              - search

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
        '400':
          description: Bad Request


  /api/publicProjectsSearch:
    post:
      operationId: R203
      summary: 'R203: Search for public projects'
      description: 'Search for public projects. Access: AUR'
      tags:
        - 'M02: Projects'
      parameters:
        - in: query
          name: search
          description: String to use for full-text search
          schema:
            type: string
          required: false

      requestBody:
        required: true
        content:
            schema:
              type: string
              properties:
                search:
                  type: string
              required:
              - search

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
        '400':
          description: Bad Request

  /projects:
    get:
      operationId: R204
      summary: 'R204: Get Projects'
      description: "Get projects. Access: AUR"
      tags:
        - 'M02: Projects'

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        "403":
          description: Forbidden
        "404":
          description: Not Found

  /projectsCreate:
    get:
      operationId: R205
      summary: 'R205: Get Projects create form'
      description: "Get projects create form. Access: AUR"
      tags:
        - 'M02: Projects'

      responses:
        '200':
          description: Success
        "403":
          description: Forbidden
        "404":
          description: Not Found

    post:
      operationId: R206
      summary: 'R206: Create Project'
      description: 'Processes the project creation form submission. Access: USR'
      tags:
        - 'M02: Projects'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                public:
                  type: boolean
              required:
                - title
                - description

      responses:
        '302':
          description: 'Redirect after processing the new project information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful creation. Redirect to project overview.'
                  value: '/projects'


  /project/{id}:
    get:
      operationId: R207
      summary: 'R207: Get Project Information'
      description: "Get project information as JSON. Access: RDR"
      tags:
        - 'M02: Projects'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        "403":
          description: Forbidden
        "404":
          description: Not Found

  /project/{id}/add-fav:
    get:
      operationId: R208
      summary: 'R208: Add project to favorites'
      description: "Favorite a project. Access: AUR"
      tags:
        - 'M02: Projects'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Success
        "403":
          description: Forbidden

  /project/{id}/remove-fav:
    get:
      operationId: R209
      summary: 'R209: Remove project from favorites'
      description: "Remove project from favorites. Access: AUR"
      tags:
        - 'M02: Projects'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Success
        "403":
          description: Forbidden


  /project/{id}/update:
    post:
      operationId: R210
      summary: 'R210: Edit Project'
      description: 'Edit project information. Access: MGR'
      tags:
        - 'M01: Authentication and Individual Profile'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                description:
                  type: string
                public:
                  type: boolean
                active:
                  type: boolean
      responses:
        '200':
          description: 'Success'
        "401":
          description: 'Permission denied'

  /project/{id}/files:
    get:
      operationId: R211
      summary: 'R211: View Project files'
      description: "Show the project's files page. Access: RDR"
      tags:
        - 'M02: Projects'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok'
        '403':
          description: Forbidden
        '404':
          description: 'Not Found'

  /project/{id}/files/upload-files:
    post:
      operationId: R212
      summary: 'R212: Upload Project file'
      description: "Upload file to the project. Access: EDT"
      tags:
        - 'M02: Projects'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
            required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                url:
                  type: string
                project_id:
                  type: integer
              required:
                - name
                - url
                - project_id
      responses:
        '302':
          description: 'Redirect after processing the new folder.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful upload. Redirect to projectfiles page.'
                  value: '/project/{id}/files'
                302Failure:
                  description: 'Failed creation. Redirect to projectfiles page.'
                  value: '/project/{id}/files'
        '403':
          description: Forbidden
        '404':
          description: 'Not Found'

  /project/{id}/files/{file_id}/download:
    get:
      operationId: R213
      summary: 'R213: Download project file'
      description: "Download project files. Access: EDT"
      tags:
        - 'M02: Projects'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
            required: true
        - in: path
          name: file_id
          schema:
            type: integer
            required: true

      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectFile'
        "403":
          description: Forbidden
        "404":
          description: Not Found

  /project/{id}/files/{file_id}/delete:
    get:
      operationId: R214
      summary: 'R214: Delete Project File'
      description: 'Delete project file. Access: EDT'
      tags:
        - 'M02: Projects'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: file_id
          schema:
            type: integer
            required: true

      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectFile'
        "403":
          description: Forbidden
        "404":
          description: Not Found

  /project/{id}/files/upload-folder:
    post:
      operationId: R215
      summary: 'R215: Upload Project folder'
      description: "Upload folders to the project. Access: EDT"
      tags:
        - 'M02: Projects'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
            required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                url:
                  type: string
                project_id:
                  type: integer
              required:
                - name
                - url
                - project_id
      responses:
        '302':
          description: 'Redirect after processing the new folder.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful upload. Redirect to projectfiles page.'
                  value: '/project/{id}/files'
                302Failure:
                  description: 'Failed creation. Redirect to projectfiles page.'
                  value: '/project/{id}/files'
        '403':
          description: Forbidden
        '404':
          description: 'Not Found'

  /project/{id}/files/{file_id}/downloadZIP:
    get:
      operationId: R216
      summary: 'R216: Download Zip file'
      description: "Download Zip files. Access: EDT"
      tags:
        - 'M02: Projects'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
            required: true
        - in: path
          name: file_id
          schema:
            type: integer
            required: true

      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectFile'
        "403":
          description: Forbidden
        "404":
          description: Not Found

  /project/{id}/tasks:
    get:
      operationId: R217
      summary: 'R217: View Project Tasks'
      description: "Show the project's tasks page. Access: RDR"
      tags:
        - 'M02: Projects'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok'
        '403':
          description: Forbidden
        '404':
          description: 'Not Found'


  /project/{id}/forum:
    get:
      operationId: R218
      summary: 'R218: View Project Messages'
      description: "Show the project's messages page. Access: RDR"
      tags:
        - 'M02: Projects'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok'
        '403':
          description: Forbidden
        '404':
          description: 'Not Found'

  /project/{id}/members:
    get:
      operationId: R219
      summary: 'R219: View Project members'
      description: "Show the project's members page. Access: RDR"
      tags:
        - 'M02: Projects'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: 'Ok'
        '403':
          description: Forbidden
        '404':
          description: 'Not Found'

  /project/{id}/members/update:
    post:
      operationId: R220
      summary: 'R220: Update Project members'
      description: "Update Project members. Access: MGR"
      tags:
        - 'M02: Projects'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user_role:
                  type: string
                  enum: ['GUEST', 'MEMBER', 'MANAGER']

      responses:
        '302':
          description: 'Redirect after processing the new project user information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful update. Redirect to members page.'
                  value: '/project/{id}/members'
                302Failure:
                  description: 'Failed update. Redirect to members page.'
                  value: '/project/{id}/members'
        '403':
          description: Forbidden
        '404':
          description: 'Not Found'

  /project/{id}/members/invitation:
    get:
      operationId: R221
      summary: "R221: Get Projects Invitation form"
      description: "Get Project's Invitation form. Access: MGR"
      tags:
        - 'M02: Projects'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '302':
          description: 'Redirect after processing the new project information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful update. Redirect to members page.'
                  value: '/project/{id}/members'
                302Failure:
                  description: 'Failed update. Redirect to members page.'
                  value: '/project/{id}/members'
        "403":
          description: Forbidden
        "404":
          description: Not Found

    post:
      operationId: R222
      summary: 'R222: Create a invitation'
      description: "Create a invitation. Access: MGR"
      tags:
        - 'M02: Projects'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                username:
                  type: string
                user_role:
                  type: string
                  enum: ['GUEST', 'MEMBER', 'MANAGER']
              required:
                - username
                - user_role

      responses:
        '302':
          description: 'Redirect after processing the new project information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful creation. Redirect to members page.'
                  value: '/project/{id}/members'
                302Failure:
                  description: 'Failed creation. Redirect to members page.'
                  value: '/project/{id}/members'

        "403":
          description: Forbidden

  /invitation/{id}:
    get:
      operationId: R223
      summary: 'R223: Get Invitation Information'
      description: "Get Invitation information. Access: AOR"
      tags:
        - 'M02: Projects'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation'
        "403":
          description: Forbidden
        "404":
          description: Not Found

  /invitation/{id}/deal:
    post:
      operationId: R224
      summary: 'R224: Deal with a Invitation'
      description: "Deal with a Invitation. Access: AOR"
      tags:
        - 'M02: Projects'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                action:
                  type: string
              required:
                - action

      responses:
        '302':
          description: 'Redirect after processing the new project information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful accepted/refused. Redirect to home page.'
                  value: '/home'
                302Failure:
                  description: 'Failed accepted/refused. Redirect to home page.'
                  value: '/home'

        "403":
          description: Forbidden

  /project/{id}/tasksCreate:
    get:
      operationId: R225
      summary: 'R225: Get Tasks create form'
      description: "Get projects create form. Access: MGR"
      tags:
        - 'M02: Projects'

      responses:
        '200':
          description: Success
        "403":
          description: Forbidden
        "404":
          description: Not Found

  /tasksCreate:
    post:
      operationId: R226
      summary: 'R226: Create Task'
      description: 'Processes the task creation form submission. Access: MGR'
      tags:
        - 'M02: Projects'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                status:
                  type: string
                assignee:
                  type: string
                due_date:
                  type: string
                reminder_date:
                  type: string
              required:
                - name
                - description
                - status
                - due_date
                - reminder_date

      responses:
        '302':
          description: 'Redirect after processing the new project information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful creation. Redirect to project's task page."
                  value: "/project/{id}/tasks"
        "403":
          description: This action is forbidden

  /project/{id}/task/{task_id}:
    get:
      operationId: R227
      summary: 'R227: Get Task Information'
      description: "Get task information as JSON. Access: RDR"
      tags:
        - 'M02: Projects'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: task_id
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
        "403":
          description: This action is forbidden
        "404":
          description: Not Found

  /project/{id}/task/{task_id}/update:
    post:
      operationId: R228
      summary: 'R228: Edit Task and delete task'
      description: 'Edit and delete task information. Access: EDT'
      tags:
        - 'M02: Projects'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: task_id
          schema:
            type: integer
          required: true
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                description:
                  type: string
                status:
                  type: string
                assignee:
                  type: string
                due_date:
                  type: string
                reminder_date:
                  type: string
      responses:
        '302':
          description: 'Redirect after processing the new project information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful creation. Redirect to project's task page."
                  value: '/project/{id}/tasks'
        "403":
          description: This action is forbidden
        "500":
          description: 'Internal Server Error'

  /api/project/{id}/tasks-search:
    post:
      operationId: R229
      summary: 'R229: Search Task'
      description: 'Search for tasks. Access: RDR'
      tags:
        - 'M02: Projects'

      parameters:
        - in: query
          name: search
          description: String to use for full-text search
          schema:
            type: string
          required: false

      requestBody:
        required: true
        content:
            schema:
              type: string
              properties:
                search:
                  type: string
              required:
              - search
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Task'
        '400':
          description: Bad Request

  /reportsCreate:
    get:
      operationId: R230
      summary: 'R230: Get Reports create form'
      description: "Get reports create form. Access: RDR"
      tags:
        - 'M02: Projects'

      responses:
        '200':
          description: Success
        "403":
          description: Forbidden
        "404":
          description: Not Found

    post:
      operationId: R231
      summary: 'R231: Make a Report'
      description: 'Processes the report creation form submission. Access: USR'
      tags:
        - 'M02: Projects'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                description:
                  type: string
                report_type:
                  type: string
                  enum: ['User', 'Bug']
              required:
                - title
                - description

      responses:
        '302':
          description: 'Redirect after processing the new project information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful creation. Redirect to home page.'
                  value: '/home'

  /project/{id}/forum/newMessage:
    post:
      operationId: R232
      summary: 'R232: Send a message to project forum'
      description: "Send a message to project forum. Access: EDT"
      tags:
        - 'M02: Projects'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                message:
                  type: string
              required:
                - message

      responses:
        '302':
          description: 'Redirect after processing the new project information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful. Redirect to forum page.'
                  value: '/project/{id}/forum'
                302Failure:
                  description: 'Failed. Redirect to forum page.'
                  value: '/project/{id}/forum'

        "403":
          description: This action is forbidden

  /api/project/{id}/members-search:
    post:
      operationId: R233
      summary: 'R233: Search Members'
      description: 'Search for members. Access: RDR'
      tags:
        - 'M02: Projects'

      parameters:
        - in: query
          name: search
          description: String to use for full-text search
          schema:
            type: string
          required: false

      requestBody:
        required: true
        content:
            schema:
              type: string
              properties:
                search:
                  type: string
              required:
              - search
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectUser'
        '400':
          description: Bad Request

  /project/{id}/task{task_id}/taskComments:
    get:
      operationId: R234
      summary: "R234: Get task's comments"
      description: "Get task's comments. Access: EDT"
      tags:
        - 'M02: Projects'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: task_id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TaskComment'
        "403":
          description: Forbidden
        "404":
          description: Not Found

  /project/{id}/task{task_id}/taskComments/newComment:
    post:
      operationId: R235
      summary: 'R235: Make a comment on a task'
      description: 'Make a comment on a task. Access: EDT'
      tags:
        - 'M02: Projects'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true
        - in: path
          name: task_id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                comment:
                  type: string
              required:
                - comment

      responses:
        '302':
          description: 'Redirect after processing the new comment information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful creation. Redirect to tasks comments page.'
                  value: '/project/{id}/task{task_id}/taskComments'
                302Error:
                  description: 'Failed creation. Redirect to tasks comments page.'
                  value: '/project/{id}/task{task_id}/taskComments'
        "403":
          description: This action is forbidden

  /project/{id}/members/leaveProject:
    get:
      operationId: R220
      summary: 'R220: Leave the project'
      description: "Update Project members. Access: RDR"
      tags:
        - 'M02: Projects'
      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectUser'
        "403":
          description: Forbidden
        "404":
          description: Not Found


  /chat/{id}:
    get:
      operationId: R301
      summary: 'R301: Get user all chat'
      description: "Get user all chat. Access: AUR"
      tags:
        - 'M03: Social Media'

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: Success
        "403":
          description: Forbidden
        "404":
          description: Not Found

  /chat/{emmiter_id}/{receiver_id}:
    get:
      operationId: R302
      summary: 'R302: Get user private chat with other user'
      description: "Get user private chat with other user. Access: AUR"
      tags:
        - 'M03: Social Media'

      parameters:
        - in: path
          name: emmiter_id
          schema:
            type: integer
          required: true
        - in: path
          name: receiver_id
          schema:
            type: integer
          required: true

      responses:
        '200':
          description: Success
        "403":
          description: Forbidden
        "404":
          description: Not Found

  /chat/{emmiter_id}/{receiver_id}/newMessage:
    post:
      operationId: R303
      summary: 'R303: Send a message to other user'
      description: "Send a message to other user. Access: AUR"
      tags:
        - 'M03: Social Media'

      parameters:
        - in: path
          name: emmiter_id
          schema:
            type: integer
          required: true
        - in: path
          name: receiver_id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                message:
                  type: string
              required:
                - message

      responses:
        '302':
          description: 'Redirect after processing the new project information.'
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: 'Successful. Redirect to forum page.'
                  value: '/chat/{emmiter_id}/{receiver_id}'
                302Failure:
                  description: 'Failed. Redirect to forum page.'
                  value: '/chat/{emmiter_id}/{receiver_id}'

        "403":
          description: This action is forbidden



  /home:
    get:
      operationId: R401
      summary: 'R401: View Landing Page'
      description: "View landing page. Access: PUB"
      tags:
        - 'M04: Static pages'

      responses:
        '200':
          description: 'OK'

  /admin:
    get:
      operationId: R501
      summary: 'R501: View Admin Page'
      description: "View Admin page. Access: ADM"
      tags:
        - 'M05: User Administration'

      responses:
        '200':
          description: 'OK'
        "403":
          description: "Forbidden access"

  /admin/users:
    get:
      operationId: R502
      summary: 'R502: View Users Information Page'
      description: "View users information page. Access: ADM"
      tags:
        - 'M05: User Administration'

      responses:
        '200':
          description: 'OK'
        "403":
          description: "Forbidden access"

  /admin/reportsInformations:
    get:
      operationId: R503
      summary: 'R503: View Reports Page'
      description: "View users and website reports from users. Access: ADM"
      tags:
        - 'M05: User Administration'

      responses:
        '200':
          description: 'OK'
        "403":
          description: "Forbidden access"

    post:
      operationId: R504
      summary: 'R504: Deal with Reports Page'
      description: "Deal with reports from users. Access: ADM"
      tags:
        - 'M05: User Administration'

      responses:
        '200':
          description: 'OK'
        "403":
          description: "Forbidden access"

  /admin/manageUsers:
    get:
      operationId: R505
      summary: 'R505: View users management Page'
      description: "View users management page. Access: ADM"
      tags:
        - 'M05: User Administration'

      responses:
        '200':
          description: 'OK'
        "403":
          description: "Forbidden access"

  /admin/projects:
    get:
      operationId: R506
      summary: 'R506: View Projects Information Page'
      description: "View Projects Information page. Access: ADM"
      tags:
        - 'M05: User Administration'

      responses:
        '200':
          description: 'OK'
        "403":
          description: "Forbidden access"


  /admin/project/{id}:
    get:
      operationId: R507
      summary: 'R507: View a Project Information Page'
      description: "View a Project Information page. Access: ADM"
      tags:
        - 'M05: User Administration'

      responses:
        '200':
          description: 'OK'
        "403":
          description: "Forbidden access"

  /admin/profile/{id}:
    get:
      operationId: R508
      summary: 'R508: View a user profile'
      description: "View a user profile. Access: ADM"
      tags:
        - 'M05: User Administration'

      responses:
        '200':
          description: 'OK'
        "403":
          description: "Forbidden access"

  /admin/createUser:
    get:
      operationId: R509
      summary: 'R509: Create user page'
      description: "Create user page. Access: ADM"
      tags:
        - 'M05: User Administration'

      responses:
        '200':
          description: 'OK'
        "403":
          description: "Forbidden access"

    post:
      operationId: R510
      summary: 'R510: Create user'
      description: "Create user. Access: ADM"
      tags:
        - 'M05: User Administration'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                fullname:
                  type: string
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
              required:
                - fullname
                - username
                - email
                - password

      responses:
        '200':
          description: 'OK'
        "403":
          description: "Forbidden access"

  /admin/searchUsers:
    post:
      operationId: R511
      summary: 'R511: Search users'
      description: 'Search for users. Access: AUR'
      tags:
        - 'M05: User Administration'

      parameters:
        - in: query
          name: search
          description: String to use for full-text search
          schema:
            type: string
          required: false

      requestBody:
        required: true
        content:
            schema:
              type: string
              properties:
                search:
                  type: string
              required:
              - search
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '400':
          description: Bad Request

  /admin/userSupport:
    get:
      operationId: R512
      summary: 'R512: Create user page'
      description: "Create user page. Access: ADM"
      tags:
        - 'M05: User Administration'

      responses:
        '200':
          description: 'OK'
        "403":
          description: "Forbidden access"

    post:
      operationId: R513
      summary: 'R513: Create user'
      description: "Create user. Access: ADM"
      tags:
        - 'M05: User Administration'

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                contact:
                  type: string
                message:
                  type: string
              required:
                - email
                - message

      responses:
        '200':
          description: 'OK'
        "403":
          description: "Forbidden access"


  components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: integer
        fullname:
          type: string
        username:
          type: string
        email:
          type: string
        password:
          type: string
        img_url:
          type: string
        is_admin:
          type: boolean

    Project:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string

    TaskComment:
      type: object
      properties:
        id:
          type: integer
        comment:
          type: string
        task_id:
          $ref: '#/components/schemas/Task'
        due_date:
          type: integer
        user_id:
          $ref: '#/components/schemas/User'

    Task:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        due_date:
          type: integer
        reminder_date:
          type: integer
        tag:
          type: string
          enum: ['TODO', 'DOING', 'REVIEW', 'CLOSED']

    ProjectFile:
      type: object
      properties:
        id:
          type: integer
        url:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        project_id:
          $ref: '#/components/schemas/Project'

    ProjectUser:
      type: object
      properties:
        user_id:
          $ref: '#/components/schemas/User'
        project_id:
          $ref: '#/components/schemas/Project'
        user_role:
          type: string
          enum: ['MANAGER', 'MEMBER', 'GUEST']

    Invitation:
      type: object
      properties:
        user_id:
          $ref: '#/components/schemas/User'
        project_id:
          $ref: '#/components/schemas/Project'
        accept:
          type: boolean
        user_role:
          type: string
          enum: ['MANAGER', 'MEMBER', 'GUEST']







