body {
    background-color: #ffffff;
}

.row {
    margin: 0;
}

.my-rocket {
    text-decoration: none;
}

.card-body {
    overflow-x: auto;
}

/*----- NavBar Style-----*/

.navbar-container {
    position: fixed;
    z-index: 500;
    width: 100%;
    top: 0;
    border-bottom: 1px solid lightgray;
    background: white;
    display: flex;
}

.my-dropdown {
    position: relative;
    display: inline-block;
}

.my-dropdown-content {
    display: none;
    position: absolute;
    background-color: #e7e7e7;
    color: black;
    width: 400px;
    left: -130px;
    top: 45px;
    padding: 12px 0 12px 0;
    z-index: 1;
}

.my-dropdown:hover .my-dropdown-content {
    display: block;
}

.navbar-align {
    width: 100%;
    display: flex;
    margin: 0.5em 5em;
}

.nav-item {
    border-style:hidden;
    font-size: 20px;
    color: #ffffff;
    padding: 0.5em 1vw;
    border-radius: 10em;
}

.nav-item:hover{
    background-color: hsla(180, 25%, 33%, 0.801);
    color: white;
}

@media screen and (min-width: 1010px) {
    #full-nav { display: flex !important; }
    #compact-nav { display: none !important; }
}

@media screen and (max-width: 1010px) {
    #full-nav { display: none !important; }
    #compact-nav { display: flex !important; }
}

.navbar-dropdown {
    position: relative;
    display: inline-block;
}

.navbar-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    right: 0;
    padding: 12px 0 12px 0;
    z-index: 1;
}

.navbar-dropdown:hover .navbar-dropdown-content {
    display: block;
}

.dropdown-item:hover {
    background-color: #d1e7dd;
}

/*----- Homepage Style-----*/

.homepage {
    background-color: white;
    color: black;
    --display: flex;
}

.homepage-main-title {
    color: black;
    font-weight: bold;
    line-height: normal;
    font-size: 30px;
    white-space: nowrap;
}

.homepage-title {
    color: black;
    font-weight: bold;
    line-height: normal;
    font-size: 30px;
    margin-left: 13%;
    white-space: nowrap;
}

.ready-to-be {
    color: grey;
    font-size: 16px;
    line-height: normal;
    white-space: nowrap;
}

.get-started-btn {
    background-color: #1d6460;
    color:white;
    font-size: 16px;
    width: fit-content;
    padding: 2%;
    border-radius: 10px;
}

.get-started-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    color: white;
    text-decoration: none;

}

.support-spacing {
    margin: 100px 0 100px 0;
}

/*----- Auth forms-----*/

.formbg {
    margin: 0px auto;
    width: 100%;
    max-width: 448px;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

label {
    margin-bottom: 10px;
}

.reset-pass a,label {
    font-size: 14px;
    font-weight: 600;
    display: block;
}
.reset-pass > a {
    text-align: right;
    margin-bottom: 10px;
}
.grid--50-50 {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}

.field input {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: rgb(84 105 212);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
              rgba(0, 0, 0, 0) 0px 0px 0px 0px,
              rgba(0, 0, 0, 0) 0px 0px 0px 0px,
              rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
              rgba(0, 0, 0, 0) 0px 0px 0px 0px,
              rgba(0, 0, 0, 0) 0px 0px 0px 0px,
              rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

input[type="submit"] {
    background-color: #2F4F4F;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
              rgba(0, 0, 0, 0) 0px 0px 0px 0px,
              rgba(0, 0, 0, 0.12) 0px 1px 1px 0px;

    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.field-checkbox input {
    width: 20px;
    height: 15px;
    margin-right: 5px;
    box-shadow: unset;
    min-height: unset;
}
.field-checkbox label {
    display: flex;
    align-items: center;
    margin: 0;
}
.green-planwiser:hover {
    color: #198754;
}

.green-contact {
    color: #198754;
    border-color: #198754;
}

.green-contact:hover {
    color: grey;
    background-color: #198754;
}

/*-----Project SideBar-----*/

.sidebar-btn {
    color: grey;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.sidebar-btn:hover {
    color: #198754;
}

.sidebar-btn:focus {
    color: #2F4F4F;
    background-color: lightgray;
}

.sidenavbar {
    position: fixed;
    left: 0;
    top: 90px;
    width: 200px;
    background-color: #dbdbdb;
    padding: .5rem 1rem 0 1rem;
    transition: 2s;
    color: #818181;
    height: 90vh;
    z-index: 200;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.sidenav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5vh;
}

.sidenav_link {
    position: relative;
    color: #818181;
    margin-bottom: 2vh;
    transition: .3s
}

.sidenav_link:hover {
    color: #2f4f4f;
    text-decoration: none;

}

.show {
    left: 0;
    width: 75px;
}

@media screen and (max-width: 1200px) {
    .sidenavbar {
        left: 0;
        padding: 0;
        width: 50px;
    }
    .show {
        left: 0;
        width: 50px;
    }
}

@media screen and (max-width: 576px) {
    .show {
        left: -30%;
        width: 0;
    }
}

/*------Notifications-------*/

.notification-pop {
    border-bottom: 1px solid lightgray;
    font-size: 16px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.notification-number {
    visibility: hidden;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    width: 0.5em;
    height: 0.5em;
    left: 90%;
    animation: blink 1s infinite;
}

.notification-number div {
    position: relative;
    font-size: 10px;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}


/*----- error page ----*/


.error-body{
    background-color: #1C2127;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    padding: 2%;
  }
  .error-container{
    display: flex;
  }
  .error-number {
    align-items: center;
    justify-content: flex-end;
    display: flex;
  }
  .error-meaning {
    flex-direction: column;
    justify-content: center;
    display: flex;
  }
  .error-start-flex {
    justify-content: start;
    display: flex;
  }
  .error-message{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 500;
    --position: absolute;
    top: 30%;
    left: 55%;
  }
  .error-message2{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 300;
    width: 360px;
    --position: absolute;
    top: 40%;
    left: 55%;
  }

  .error-neon{
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 150px;
    color: #5BE0B3;
    letter-spacing: 3px;
    text-shadow: 0 0 5px #6EECC1;
    animation: error-flux 2s linear infinite;

  }

  .redirect-back-icon{
    font-size: 40px;
    color: #5BE0B3;
    text-shadow: 0 0 5px #6EECC1;
    animation: error-flux 2s linear infinite;
    margin-left: 2%;
    cursor: pointer;

  }

  @keyframes error-flux {
    0%,
    100% {
      text-shadow: 0 0 5px #00FFC6, 0 0 15px #00FFC6, 0 0 50px #00FFC6, 0 0 50px #00FFC6, 0 0 2px #B9FFE8, 2px 2px 3px #12E29C;
      color: #4BFFEF;
    }
    50% {
      text-shadow: 0 0 3px #00B58D, 0 0 7px #00B58D, 0 0 25px #00B58D, 0 0 25px #00B58D, 0 0 2px #00B58D, 2px 2px 3px #006A60;
      color: #63D3AE;
    }
  }

  @media screen and (max-width: 767px) {
    .error-number {
        justify-content: center;
        align-items: center;
    }
    .error-start-flex {
        justify-content: center;
        align-items: center;
    }
    .error-container {
        padding-top: 25vh !important;
    }
}



