body {
    background-color: #ffffff;
}

.my-container {
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid lightgray;
    background: white
}
.my-dropdown {
    position: relative;
    display: inline-block;
}

.my-dropdown-content {
    display: none;
    position: absolute;
    background-color: #e7e7e7;
    color: black;
    min-width: 260px;
    left: -60px;
    top: 45px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.my-dropdown:hover .my-dropdown-content {
    display: block;
}

.navbar-align {
    display: grid;
    grid-template-columns: auto repeat(8,1fr);
    grid-template-areas: " . . . . . . . . . . . username sign-up login";
    align-items: center;
    margin: 2em 10em 1em 10em;
}
.nav-item {
    border-style:hidden;
    font-size: 20px;
    color: #2F4F4F;
}
.sidenav-item {
    width: 70%;
    border-style:hidden;
    font-size: 20px;
    color: #2F4F4F;
}
.sidenav-item:hover {
    background-color: lightgrey;
    color: #2F4F4F;
}
#signup-btn {
    grid-area: sign-up;
}
#login-btn {
    grid-area: login;
}
#username-btn {
    grid-area: username;
}
#logout-btn {
    grid-area: login;
}
#profile-btn {
    grid-area: sign-up;
}
#notifications-btn {
    grid-area: username;
}
main > header h1 {
margin: 0;
}
main > header a.button {
margin-left: 1em;
margin-right: 1em;
justify-self: center;
}
main > header span {
margin-left: 1em;
margin-right: 1em;
justify-self: center;
}
#cards {
display: grid;
grid-template-columns: repeat(3, 1fr);
}
#cards article.card {
display: flex;
flex-direction: column;
background-color: #d3edc3;
padding: 1em;
margin: 1em;
}
#cards article.card header {
display: flex;
align-items: center;
}
#cards article.card header h2 {
flex-grow: 1;
}
#cards article.card header a.delete {
display: none;
font-size: 2.6rem;
margin-top: .5rem;
margin-bottom: 2.5rem;
line-height: 1.25;
}
#cards article.card header:hover a.delete {
display: inline;
}
#cards article.card li {
list-style-type: none;
}
#cards article.card li label {
display: flex;
align-items: baseline;
}
#cards article.card li label span {
margin-left: .5em;
flex-grow: 1;
}
#cards article.card li label a {
display: none;
}
#cards article.card li label:hover a {
display: inline;
}
#cards article.card input:checked + span {
text-decoration: var(--primary-color) solid line-through;
}
#cards article.card ul {
margin: 0;
}
#cards article.card form {
margin: 0;
}
#cards article.card input[type=text] {
background-color: white;
margin: 0;
}
#content label {
font-weight: normal;
}
#content > form {
margin: auto;
padding: 1em;
max-width: 60em;
border: 1px solid black;
}
#content > form .error {
font-weight: bold;
color: #ff3333;
}
#content > form input {
background-color: white;
border: 1px solid white;
}
#content > form input:hover {
background-color: white;
border: 1px solid black;
}
@media (max-width: 70em) {
#cards {
    grid-template-columns: repeat(2, 1fr);
}
main > header {
    display: grid;
}
main > header h1 {
    grid-row-end: span 2;
}
}
@media (max-width: 40em) {
#cards {
    grid-template-columns: 1fr;
}
}
@media (max-width: 25em) {
body {
    margin: 0;
}
main > header {
    margin: 0;
    padding: 0.5em;
}
main > header span {
    margin: 0;
}
#content form {
    margin: 0;
    max-width: 25em;
}
article.card {
    margin: 0;
    border-bottom: 1px solid rgba(96, 108, 118, 0.4);
}
}
/**
* Overide milligram colors
* Some styles might be missing
**/
.button {
background-color: white;
color:black;
border-style: hidden;
}
a.button {
background-color: white;
color: black;
border-style: hidden;
}

/*vale*/
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
border-color: white;
}


/*----- Homepage Style-----*/

.homepage {
    background-color: white;
    color: black;
    display: flex;
}

.homepage-title {
    color: black;
    font-weight: bold;
    line-height: normal;
    font-size: 30px;
    margin-left: 13%;
    margin-top: 10%;
    white-space: nowrap;
}

/*----- Auth forms-----*/

  .loginbackground {
      min-height: 692px;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      z-index: 0;
      overflow: hidden;
  }

  .formbg {
      margin: 0px auto;
      width: 100%;
      max-width: 448px;
      background: white;
      border-radius: 4px;
      box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  }

  label {
      margin-bottom: 10px;
  }
  .reset-pass a,label {
      font-size: 14px;
      font-weight: 600;
      display: block;
  }
  .reset-pass > a {
      text-align: right;
      margin-bottom: 10px;
  }
  .grid--50-50 {
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
  }

  .field input {
      font-size: 16px;
      line-height: 28px;
      padding: 8px 16px;
      width: 100%;
      min-height: 44px;
      border: unset;
      border-radius: 4px;
      outline-color: rgb(84 105 212 / 0.5);
      background-color: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                  rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  }

  input[type="submit"] {
      background-color: #2F4F4F;
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                  rgba(0, 0, 0, 0.12) 0px 1px 1px 0px,
                  #2F4F4F,
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                  rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
  }
  .field-checkbox input {
      width: 20px;
      height: 15px;
      margin-right: 5px;
      box-shadow: unset;
      min-height: unset;
  }
  .field-checkbox label {
      display: flex;
      align-items: center;
      margin: 0;
  }
.green-planwiser:hover {
    color: #198754;
}
