body {
    background-color: #ffffff;
}

.row {
    margin: 0;
}

.navbar-container {
    position: fixed;
    z-index: 500;
    width: 100%;
    top: 0;
    border-bottom: 1px solid lightgray;
    background: white;
    display: flex;
}

.my-rocket {
    text-decoration: none;
}

.my-dropdown {
    position: relative;
    display: inline-block;
}

.my-dropdown-content {
    display: none;
    position: absolute;
    background-color: #e7e7e7;
    color: black;
    min-width: 400px;
    left: -120px;
    top: 45px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.my-dropdown:hover .my-dropdown-content {
    display: block;
}

.navbar-align {
    justify-content: space-around;
    width: 100%;
    display: flex;
    align-items: center;
    /*grid-template-columns: auto repeat(8,0.7fr);
    grid-template-areas: " . . . . . . . . .";
    align-items: center;  */
    margin: 0.5em 5em;
}

.nav-item {
    border-style:hidden;
    font-size: 20px;
    color: #ffffff;
    padding: 0.5em 1vw;
    border-radius: 10em;
}

.nav-item:hover{
    background-color: hsla(180, 25%, 33%, 0.801);
    color: white;
}

.sidenav-item {
    width: 70%;
    border-style:hidden;
    font-size: 20px;
    color: #2F4F4F;
}
.sidenav-item:hover {
    background-color: lightgrey;
    color: #2F4F4F;
}
#signup-btn {
    /* grid-area: sign-up; */
    justify-self: flex-end;
}
#login-btn {
    /* grid-area: login; */
    justify-self: flex-end;
}
#username-btn {
    /* grid-area: sign-up; */
    justify-self: flex-end;
}
#logout-btn {
    /* grid-area: login; */
    justify-self: flex-end;
}
#profile-btn {
    /* grid-area: sign-up; */
    justify-self: flex-end;
}
#notifications-btn {
    /* grid-area: notifications; */
    justify-self: flex-end;
}

main > header h1 {
margin: 0;
}
main > header a.button {
margin-left: 1em;
margin-right: 1em;
justify-self: center;
}
main > header span {
margin-left: 1em;
margin-right: 1em;
justify-self: center;
}
#cards {
display: grid;
grid-template-columns: repeat(3, 1fr);
}
#cards article.card {
display: flex;
flex-direction: column;
background-color: #d3edc3;
padding: 1em;
margin: 1em;
}
#cards article.card header {
display: flex;
align-items: center;
}
#cards article.card header h2 {
flex-grow: 1;
}
#cards article.card header a.delete {
display: none;
font-size: 2.6rem;
margin-top: .5rem;
margin-bottom: 2.5rem;
line-height: 1.25;
}
#cards article.card header:hover a.delete {
display: inline;
}
#cards article.card li {
list-style-type: none;
}
#cards article.card li label {
display: flex;
align-items: baseline;
}
#cards article.card li label span {
margin-left: .5em;
flex-grow: 1;
}
#cards article.card li label a {
display: none;
}
#cards article.card li label:hover a {
display: inline;
}
#cards article.card input:checked + span {
text-decoration: var(--primary-color) solid line-through;
}
#cards article.card ul {
margin: 0;
}
#cards article.card form {
margin: 0;
}
#cards article.card input[type=text] {
background-color: white;
margin: 0;
}
#content label {
font-weight: normal;
}
#content > form {
margin: auto;
padding: 1em;
max-width: 60em;
border: 1px solid black;
}
#content > form .error {
font-weight: bold;
color: #ff3333;
}
#content > form input {
background-color: white;
border: 1px solid white;
}
#content > form input:hover {
background-color: white;
border: 1px solid black;
}
@media (max-width: 70em) {
#cards {
    grid-template-columns: repeat(2, 1fr);
}
main > header {
    display: grid;
}
main > header h1 {
    grid-row-end: span 2;
}
}
@media (max-width: 40em) {
#cards {
    grid-template-columns: 1fr;
}
}
@media (max-width: 25em) {
body {
    margin: 0;
}
main > header {
    margin: 0;
    padding: 0.5em;
}
main > header span {
    margin: 0;
}
#content form {
    margin: 0;
    max-width: 25em;
}
article.card {
    margin: 0;
    border-bottom: 1px solid rgba(96, 108, 118, 0.4);
}
}
/**
* Overide milligram colors
* Some styles might be missing
**/
.button {
background-color: white;
color:black;
border-style: hidden;
}
a.button {
background-color: white;
color: black;
border-style: hidden;
}

/*vale*/
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
border-color: white;
}


/*----- Homepage Style-----*/

.homepage {
    background-color: white;
    color: black;
    display: flex;
    height: 100vh;
}

.homepage-title {
    color: black;
    font-weight: bold;
    line-height: normal;
    font-size: 30px;
    margin-left: 13%;
    margin-top: 10%;
    white-space: nowrap;
}

/*----- Auth forms-----*/

  .loginbackground {
      min-height: 692px;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      z-index: 0;
      overflow: hidden;
  }

  .formbg {
      margin: 0px auto;
      width: 100%;
      max-width: 448px;
      background: white;
      border-radius: 4px;
      box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
  }

  label {
      margin-bottom: 10px;
  }
  .reset-pass a,label {
      font-size: 14px;
      font-weight: 600;
      display: block;
  }
  .reset-pass > a {
      text-align: right;
      margin-bottom: 10px;
  }
  .grid--50-50 {
      display: grid;
      grid-template-columns: 50% 50%;
      align-items: center;
  }

  .field input {
      font-size: 16px;
      line-height: 28px;
      padding: 8px 16px;
      width: 100%;
      min-height: 44px;
      border: unset;
      border-radius: 4px;
      outline-color: rgb(84 105 212 / 0.5);
      background-color: rgb(255, 255, 255);
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                  rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  }

  input[type="submit"] {
      background-color: #2F4F4F;
      box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                  rgba(0, 0, 0, 0) 0px 0px 0px 0px,
                  rgba(0, 0, 0, 0.12) 0px 1px 1px 0px;

      color: #fff;
      font-weight: 600;
      cursor: pointer;
  }
  .field-checkbox input {
      width: 20px;
      height: 15px;
      margin-right: 5px;
      box-shadow: unset;
      min-height: unset;
  }
  .field-checkbox label {
      display: flex;
      align-items: center;
      margin: 0;
  }
.green-planwiser:hover {
    color: #198754;
}

/*-----Project SideBar-----*/

.sidebar {
    color: black;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 400px;
    background-color: #dbdbdb;
    overflow-x: hidden;
    padding-top: 15vh;
    padding-left: 20px;
    transition: 2s;
    height: 100vh;
    max-width: 200px;
  }

  .sidebar-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #2f4f4f;
    font-weight:bolder;
    font-size:20px;
    padding-left: 58px;
    padding-bottom: 2vh;
    max-width: 1px;
  }

  /* The sidebar links */
  .sidebar a {
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidebar a:hover {
    color: #2f4f4f;
    text-decoration: none;;
  }


  .sidebar:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.sidebar-btn {
    color: grey;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.sidebar-btn:hover {
    color: #198754;
}

.sidebar-btn:focus {
    color: #2F4F4F;
    background-color: lightgray;
}

  /* The button used to open the sidebar */
  .openbtn {
    cursor: pointer;
    background-color: grey;
    color: white;
    border: solid;
  }


  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }


/*------Notifications-------*/

.notification-pop {
    border-bottom: 1px solid lightgray;
    font-size: 16px;
}

.notification-btn {
    width: 100%;
}

.round-profile-pic {
    vertical-align: middle;
    width: 50px;
    height: 50px;
  }

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.notification-number {
    visibility: hidden;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    width: 0.5em;
    height: 0.5em;
    left: 90%;
    animation: blink 1s infinite;
}

.notification-number div {
    position: relative;
    font-size: 10px;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


